@charset "UTF-8";

/* 共通
----------------------------------- */
html {
  font-size: 100%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: 'Special Elite', 'Klee One', sans-serif;
  color: #333333;
  background-color: #F3E3C1;
  line-height: 1.5;

}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style-type: '';
}

/* レイアウト
----------------------------------- */
.wrapper {
  width: min(92%, 980px);
  margin-inline: auto;
}
section {
  padding-block: 4rem;
}

/* 見出し
----------------------------------- */
.heading {
  font-size: 14px;
  letter-spacing: 0.2em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.heading::before {
  font-family: 'Special Elite', 'Klee One', sans-serif;
  content: attr(data-en);
  font-weight: 600;
  font-size: 1.714em;
  line-height: 1.2;
}

/* ヘッダー
----------------------------------- */

.mainvisual{
  margin-top: 90px;
  width: 100%;
}

.header-inner {
  background-color: #F3E3C1;
  padding-block: 0.3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  z-index: 1;
}
.header-inner > .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
nav > ul {
  display: flex;
  justify-content: space-between;
}
nav > ul > li > a {
  font-size: 0.845rem;
}
nav > ul > li > a:focus {
  text-decoration: underline;
}
nav > ul > li > a:focus img {
  background-color: #cccccc;
  border-radius: 4px;
}
nav > ul > li {
  transition-property: scale font-weight;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
nav > ul > li:hover {
  scale: 1.2;
  font-weight: 700;
}
.logo {
  text-align: center;
  line-height: 0;
}

.logo a:focus {
  display: inline-block;
  outline: 3px solid #cccccc;
  outline-offset: 3px;
}

/* フッター
----------------------------------- */
footer {
  padding-block: 2.5rem;
  text-align: center;
}
.copyright {
  text-transform: uppercase;
  font-family: 'Special Elite', 'Klee One', sans-serif;
  color: #333333;
  font-size: 0.75rem;
}

/* 自己紹介
----------------------------------- */
.about-img {
  width: 100vw;
  aspect-ratio: 375 / 280;
  margin-inline-start: calc(50% - 50vw);
  margin-block-start: 2rem;
}
.about-img img {
  height: 100%;
  object-fit: cover;
  object-position: -44px center;
}
.about-text p {
  line-height: 1.8;
}

/* 作品一覧
----------------------------------- */
.artworks-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 2rem;
}
.artworks-item {
  aspect-ratio: 345 / 276;
}
.artworks-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artworks-item :hover {
  transform: scale(1.1);
  opacity: 0.6;
}


/* お知らせ
----------------------------------- */
.info-list {
  margin-block-end: 2rem;
}
.info-item {
  border-block-start: 1px dotted #cccccc;
  padding-block: 15px;
  margin-block-end: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.info-item:last-of-type {
  border-block-end: 1px dotted #cccccc;
  margin-block-end: 0;
}
.info-date {
  font-family: 'Special Elite', 'Klee One', sans-serif;
  line-height: 1.2;
  font-size: 0.875rem;
}
.info-title {
  font-weight: normal;
  font-size: 14px;
}
.info-cat::before {
  content: '【';
}
.info-cat::after {
  content: '】';
}

/* お問い合わせ
----------------------------------- */
form {
  width: min(600px, 92%);
  margin-inline: auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-group + .form-group {
  margin-block-start: 1.5rem;
}
.form-label {
  font-family: serif;
  font-family: 'Special Elite', 'Klee One', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2em;
  transition: all 0.3s ease-in-out;
}
.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 1.5rem;
}
input[type='text'],
input[type='email'],
textarea {
  border: 1px solid #8c8c8c;
  background-color: #F3E3C1;
  padding: 9px;
  line-height: 1;
  outline: 3px solid transparent;
  transition: outline 0.3s ease-in-out;
}
:is(input[type='text'], input[type='email'], textarea, .button):focus {
  outline: 3px solid color-mix(in srgb, #3f3f3f, #ffffff 50%);
}
.form-group:has(:is(input[type='text'], input[type='email'], textarea, .button):focus) .form-label {
  font-weight: 700;
}
textarea {
  height: 200px;
}

/* utility
----------------------------------- */
.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-more {
  font-family: 'Special Elite', 'Klee One', sans-serif;
  font-size: 0.875rem;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.link-more:focus {
  outline: 3px solid #cccccc;
  outline-offset: 3px;
}
.link-more::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  padding-block-end: 5px;
  background-image: linear-gradient(#3f3f3f, #3f3f3f);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  transition: all 0.3s ease-in-out;
}
.link-more:hover::after {
  background-size: 0 1px;
}
.asterisk::before {
  content: '※';
}
.button {
  font-family: 'Special Elite', 'Klee One', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.2em;
  padding: 17px 78px;
  background-color: #3f3f3f;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}
.button:hover {
  background-color: #c8c8c8;
}


/* メディアクエリ
----------------------------------- */
@media (min-width: 600px) {
  /* ヘッダー */
  header {
    background-position: left 104px;
  }

  .header-inner > .wrapper {
    flex-direction: row;
    justify-content: space-between;
    /* gap: 60px; */
  }
  .logo {
    text-align: left;
    flex-grow: 1;
  }
  nav {
    flex-grow: 1;
  }
  nav > ul {
    justify-content: space-between;
  }

  /* 自己紹介 */
  .about-inner {
    display: flex;
    align-items: center;
    gap: 4.5rem;
  }
  .about-img {
    flex-basis: 480px;
    width: auto;
    aspect-ratio: 1 / 1;
    margin: auto;
    
  }
  .about-img img {
    border-radius: 50%;
    object-position: 65% 0;
  }

  /* 作品一覧 */
  .artworks-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-inline: 10px;
  }
  .artworks-item {
    aspect-ratio: 5 / 4;
  }

  /* お知らせ */
  .info-item {
    flex-direction: row;
    justify-content: space-between;
    gap: 15.29%;
    padding-inline: 65px;
    margin: 0;
  }
  .info-date {
    flex-basis: 74px;
    flex-shrink: 0;
  }
  .info-title {
    flex: 1;
  }

}
